<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335512614668-pbnsj2jgfl2s3gvus51bgpvehvmo1m2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335512614668-pbnsj2jgfl2s3gvus51bgpvehvmo1m2i</string>
	<key>API_KEY</key>
	<string>AIzaSyC1avCl2NXMLYhI6hGZtwxtr5kYqHWhGoM</string>
	<key>GCM_SENDER_ID</key>
	<string>335512614668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abcd.ManageStaff</string>
	<key>PROJECT_ID</key>
	<string>managepeople-58b47</string>
	<key>STORAGE_BUCKET</key>
	<string>managepeople-58b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335512614668:ios:01fb1c7f7bc33493d5fb29</string>
	<key>DATABASE_URL</key>
	<string>https://managepeople-58b47.firebaseio.com</string>
</dict>
</plist>